* {
  margin: 0;
  padding: 0;
}

#map, #panorama{
  min-height: 200px;
  padding: 20%;
  position: relative;
}


.sidebar {
  background: #ddd;
  grid-area: sidebar;
}

.content {
  background: #000;
  grid-area: content;	
}

nav li {
  background: #ddd;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

nav li:hover {
  background: #000;
  color: #ccc;
}
.wrapper {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "sidebar content content content";
}

@media(max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar" 
                         "content";
  }
}
